@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;600&display=swap');

:root
{
    --white: #f9f7f0;
    --saumon: #f76566;
    --turquoise: #18b7be;
    --bleu: #178ca4;
    --bleuSombre: #072a40;
}

body
{
    background: url(/public/img/Background.jpg);
}

main 
{
    background-image: url(/public/img/mainImg.JPG);
    border-radius: 2%;
    height: 850px;
    width: 90%;
    margin-left: 5%;
    margin-top: 6%;
    margin-bottom: 6%;
    
}



h1
{
    font-family: 'Dancing Script', cursive;
    font-size: 6em;
    color: var(--turquoise);
    padding: 15%;
}

.logo
{
    float: left;
    margin-left: -20%;
    margin-top: -15%;
    padding-right: 0%;
    height: 45vh;
    width: 45vw;
}