:root
{
    --white: #f9f7f0;
    --saumon: #f76566;
    --turquoise: #18b7be;
    --bleu: #178ca4;
    --bleuSombre: #072a40;
}

body
{
    background: url(../../img/Background.jpg);
}

div
{
    background-image: url(../../img/mainImg.JPG);
    background-repeat: no-repeat;
    /*background-size: cover;*/
    border-radius: 3%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    height: 800px;
    width: 90%;
    margin: 5%;
    
}



h1
{
    color: var(--bleu);
}