@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;600&display=swap');

:root
{
    --white: #f9f7f0;
    --saumon: #f76566;
    --turquoise: #18b7be;
    --bleu: #178ca4;
    --bleuSombre: #072a40;
}

section
{
    padding-left: 10%;
}

.logo
{
    float: left;
    margin-left: -20%;
    margin-top: -15%;
    padding-right: 0%;
    height: 45vh;
    width: 45vw;
}

p::first-letter
{
    color: var(--turquoise);
    font-size: 180%;
}

p
{

    font-family: 'Dancing Script', cursive;
    font-size: 1.5em;
    font-weight: bold;
    color: var(--turquoise);
    text-align:justify;
    padding: 1%;
    padding-left: 5%;
    padding-right: 5%;
}

h2
{
    font-family: 'Dancing Script', cursive;
    font-size: 4em;
    color: var(--turquoise);
    padding: 0%;
    margin-top: -55%;
}

h3
{
    font-family: 'Dancing Script', cursive;
    font-size: 2em;
    color: var(--turquoise);
    
    
}


