@import url('https://fonts.googleapis.com/css2?family=Anton&family=Poiret+One&display=swap');

:root
{
    --white: #f9f7f0;
    --saumon: #f76566;
    --rouge: #fe0000;
    --turquoise: #18b7be;
    --bleu: #178ca4;
    --vert: #6bb434;
    --jaune: #f7c304;
    --bleuSombre: #072a40;
  }

ul 
{
    list-style-type: none;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
  
li 
{
    padding-top: 2%;
    flex-basis: auto;
}
  
li a 
{
    display: block;
    color: var(--jaune);
    font-size: 1.5em;
    font-family: 'Anton', sans-serif;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
  /* Change the link color to #111 (black) on hover */
  /*li a:hover {
    background-color: var(--bleuSombre);
  }*/

.menu li:after, .menu li:before 
{
  content: "";
  position: absolute;
  width: 0%;
  display: block;
  height: 1px;
  transition: all 900ms ease-in;
  margin-top: 2px;
}


.menu li:hover::after
{
  width: 6%;
  height: 2px;
  background-color: var(--bleu);
}
.menu li:hover::before
{
  width: 6%;
  height: 2px;
  background-color: var(--turquoise);
}