@import url('https://fonts.googleapis.com/css2?family=Anton&family=Poiret+One&display=swap');

:root
{
    --white: #f9f7f0;
    --saumon: #f76566;
    --turquoise: #18b7be;
    --bleu: #178ca4;
    --bleuSombre: #072a40;
}

ul {
    list-style-type: none;
    overflow: hidden;

  }
  
  li {
    float: left;
    padding-top: 2%;
    margin-left: 14%;

  }
  
  li a {
    display: block;
    color: var(--turquoise);
    font-size: 1.5em;
    font-family: 'Anton', sans-serif;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: var(--bleuSombre);
  }