
.tag
{

    justify-content: center;
    font-family: 'Dancing Script', cursive;
    font-size: 4em;
    color: var(--turquoise);
    padding: 0%;
    margin-top: -2%;
    
}

.slick-slide img 
{
    margin: auto;
    width: 50%;
    height: 50%;
}

.imgslider
{
    margin-top: -2%;
    margin-left: 29%;
    margin-right: 20%;
}

