

section.churros
{
    margin-left: -5%;
}

section.cidre
{
   margin-left: 10%;
   margin-top: -10%;
}

section.fabada
{
    margin-left: 30%;
    margin-top: -18%;
}

section.fromages
{
    margin-left: 50%;
    margin-top: -10%;
}

section.poulpe
{
    margin-left: 68%;
    margin-top: -18%;
}